@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

body 
{
	font-family: 'Poppins';
	font-weight: 300;
}

.brand-title 
{
	font-family: 'Poppins';
	font-size: 40px !important;
	font-weight: bold;
	color: rgb(34, 34, 34);
}

.brand-title span
{
	color: #38b2ac;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
